main {
    margin: 37px 0 0 26px;
    width: 90vw;
    height: 75vh;
    overflow-y: scroll;


}
.otherContent {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}
p,
li {
    font-size: 16px;
    font-weight: bold;
}
img {
    width: 5vw;
    display: inline;
}
.titre {
    margin-bottom: 32px;
    padding-left: 35px;
}

ul li {
    list-style: none;
    margin-bottom: 23px;
    width: 80vw;
}

button {
    width: 23px;
    height: 23px;
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 15px;
}

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.entete {
    width: 80%;
    flex-direction: row;
    position: relative;
}
span {
    margin-left: 4px;
}

.icone-urgent {
    margin-right: 50px;
    position: absolute;
    left: 0;
}
.vide {
    margin-bottom : 32px;
}

/*Personnalisation de la scrollbar */

/*largeur de la scrollbar */
main::-webkit-scrollbar {
    width:5px;
}

/*background de la scrollbar */
main::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
}

/*couleur et arrondi de la scrollbar */
main::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 15px;
}
