

<!-- Affichage si il y a des éléments dans la todo -->
<section >
    <h2>Taches urgentes</h2>
    <ul *ngFor="let todo of todoList">
        <span>{{ todo.picture}}</span><li>{{todo.content}} </li>
    </ul>
</section>

<!-- <section *ngFor="">
    <h2 >Tâches non urgentes</h2>
    <ul>
        <li>bla bloup
        </li>
    </ul>
</section> -->


<div>
<!-- <ng-template #other-content> -->
    <p>Aucune tâche pour le moment
        <img src="assets/icons/no-todo-icon.png" alt="icone">
    </p>

    <app-button routerLink="/add"></app-button>

    <!-- <ng-template #other-content> -->

    </div>