<p>Selectionner votre catégorie:*</p>

<!-- Liste des catégories -->
<ul class="flex">
    <li>
        <a href=""><img src="assets/icons/shopping-icon.png" alt="icon_shopping"></a>
    </li>
    <li>
        <a href=""><img src="assets/icons/health-icon.png" alt="iconehealth"></a>
    </li>
    <li>
        <a href=""><img src="assets/icons/work-icon.png" alt="icon_work"></a>
    </li>
    <li>
        <a href=""><img src="assets/icons/bill-icon.png" alt="icon_bill"></a>
    </li>
    <li>
        <a href=""><img src="assets/icons/cleaning-icon.png" alt="icon-cleaning"></a>
    </li>
    <li>
        <a href=""><img src="assets/icons/other-icon.png" alt="other"></a>
    </li>

</ul>

<!-- Formulaire -->

<form class="flex" action="">
    <label for="">Quelle tâche avez-vous à effectuer ?*</label>
    <input type="text" placeholder="Exemple: Faire les courses">

    <!-- Option urgence de la taĉhe -->
    <div>

        <input type="checkbox">La tâche est urgente
        <img src="assets/icons/urgent-icon.png" alt="icon_urgent" width="20px">

    </div>

</form>

<app-button></app-button>