<main class="flex column" *ngIf="todoListHistory.length > 0 ; else otherContent">

    <!-- Affichage si il y a des éléments dans la todoList -->

    <!-- Section des todos urgentes -->
    <section class="urgent" *ngIf="onlyUrgentList.length > 0">
        <!-- <app-todo-card></app-todo-card> -->


        <div class="flex">
            <p><img class="icone-urgent" src="assets/icons/urgent-icon.png" alt="icon-urgent"> Tâches urgentes</p>
        </div>

        <ul *ngFor="let todo of onlyUrgentList">
            <li>
                <button type="button" value="checked" (click)="removeTodo(todo.id)"> <span><b>&#10003;</b></span></button>
                <span>{{todo.category}} </span>
                <span> {{todo.content}}</span>
            </li>
        </ul>



    </section>

    <br>

    <!-- Section des todos non urgentes -->
    <section class="non-urgent" *ngIf="notUrgentList.length > 0">
        <div class="flex">
            <p><img class="icone-urgent" src="assets/icons/flower-icon.png" alt="icon-flower">Tâches non urgentes</p>
        </div>

        <ul *ngFor="let todo of notUrgentList; let index = index">

                <li>
                    <button type="button" value="checked" (click)="removeTodo(todo.id)"><span><b>&#10003;</b></span> </button>
                    <span class="category">{{todo.category}}  </span>
                    <span>{{todo.content}}</span>
                </li>
        
        </ul>
    </section>

</main>


<!-- Affichage si la todoList est vide-->
<ng-template #otherContent>
    <div class="otherContent flex column">
        <p>Votre historique est vide <img class="icone-category" src="assets/icons/no-todo-icon.png"
                alt="icon-category"></p>
        
        <button routerLink="/add" type="button" class="history">Créer une tâche</button>
    </div>
</ng-template>