main{
    margin: 37px 0 0 26px;
    width:100vw;
    height:80vh;
    overflow-y:scroll;
    
}
.otherContent{
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height:75vh;
 }

p, li {
    font-size: 16px;
    font-weight: bold;
}
img {
    width:5vw;
    display: inline;
}
p{
    margin-bottom: 32px;
    padding-left: 30px;
}
ul li {
    list-style: none;
    margin-bottom:23px;
    
}

button {
    width:23px;
    height: 23px;
    border: white solid 2px;
    border-radius : 50%;
    margin-right: 15px;
}
.flex{
    display: flex;
}
.column {
    flex-direction: column;
}
.icone-category{
    margin-right: 10px;
}
img {
   
    position: absolute;
    left : 25px;
}
