p, li {
    font-size: 16px;
    font-weight: bold;
}
img {
    width:5vw;
    display: inline;
}
p{
    margin-bottom: 32px;
}
ul li {
    list-style: none;
    margin-bottom:23px;
}

button {
    width:23px;
    height: 23px;
    border: white solid 2px;
    border-radius : 50%;
    margin-right: 15px;
}
.flex{
    display: flex;
}

.icone-category{
    margin-right: 10px;
}


